<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011394084603-kbitrnj1otv8r1ec08kantpci9tl6rv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011394084603-kbitrnj1otv8r1ec08kantpci9tl6rv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDDQGQKZTUtYq5iEYT_mBctYhWMYHqC_s4</string>
	<key>GCM_SENDER_ID</key>
	<string>1011394084603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jae.Lproject</string>
	<key>PROJECT_ID</key>
	<string>lproject-d20c4</string>
	<key>STORAGE_BUCKET</key>
	<string>lproject-d20c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011394084603:ios:87a36162d5f160e5dffa5e</string>
</dict>
</plist>